<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/new">Post a Message</a>
    <% comments.forEach(comment => { %>
    <div class="user-post">
      <div class="user-info">
        <h2><%= comment.user.name %></h2>
        <p><%= comment.sorted_date%></p>
      </div>
      <p class="user-message"><%= comment.comment %></p>
    </div>
    <% }) %>
  </body>
</html>
